html, body {
    margin: 0;
    padding: 0;
}
body {
    max-width: 50rem;
    margin: 0 auto;
}

nav, lu {
    display: flex;
    list-style: none;
    background:aliceblue
}
nav, lu, li {
    padding: 5px 
}